<!DOCTYPE html>
<html>
  <head>
    <title>treadsoft.ly</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://treadsoft.ly/themes/cerulean.min.css" rel="stylesheet">
    <link href="http://treadsoft.ly/strapdown.css" rel="stylesheet">
    <link href="http://treadsoft.ly/themes/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <style>
      #andy_pic { float: right; }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div id="headline" class="brand">treadsoft.ly</div>
        </div>
      </div>
    </div>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
